<app-toolbar></app-toolbar>

<div class="signup-form-wrap">
  <mat-grid-list cols="2" rowHeight="650" gutterSize="0" class="signup-container">
    <mat-grid-tile class="backgroundImage" style="background-image: url(/assets/MTX_Nasdaq_image.jpg)">
      <!--<img src="../../../../assets/MTX_Nasdaq_image.jpg" />-->
    </mat-grid-tile>
    <mat-grid-tile>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">

      <mat-card class="mat-elevation-z">
     <!---- <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>-->
      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="70" gutterSize="16">
          <mat-grid-tile colspan="2" class="welcomeClass">
            <h2>Create an Account</h2>
            <p>Create your account by filling the form below</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-form-field>
              <input type="text" matInput placeholder="First name" formControlName="first_name" required>
              <mat-error *ngIf="signupForm.controls.first_name.invalid">{{getErrorMessage('first_name')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-form-field>
              <input type="text" matInput placeholder="Last name" formControlName="last_name" required>
              <mat-error *ngIf="signupForm.controls.last_name.invalid">{{getErrorMessage('last_name')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="signupForm.controls.username.invalid">{{getErrorMessage('username')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="signupForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password" required>
              <mat-error *ngIf="signupForm.controls.password.invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="success-button" color="primary" type="submit" *ngIf="!loading" [disabled]="!signupForm.valid">
          Register
        </button>
        <button class="loading-button" mat-raised-button color="primary" type="submit" *ngIf="loading" disabled>
          <mat-spinner color="accent" [diameter]="20"></mat-spinner>
        </button>
      </mat-card-actions>
      <mat-card-footer>
        Already have an account? 
        <a routerLink="/login" class="displayBlock">Login</a>
      </mat-card-footer>
    </mat-card>

  </form>
</mat-grid-tile>
</mat-grid-list>
</div>

<app-footer></app-footer>
