.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}

// display
.display-inline-block {
  display: inline-block !important;
  vertical-align: middle !important;
}
